<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<link rel="apple-touch-icon" href="contents/img/qrcode/default.png" />
	<title>企业MIS</title>
	<!-- 主框架样式 -->
	<link rel="stylesheet" href="contents/css/layout.css">
	<link rel="stylesheet" href="contents/css/main.css">
</head>