		<section class="app-mod">
			<!-- 主界面 -->
			<section class="app-inner">
				<div id="home-page" class="app-room">
					<div class="app-inner-room"></div>
					<div class="app-children-room"></div>
				</div>
				<div id="search-page" class="app-room">
					<div class="app-inner-room">
						<div class="hummer-load-mod">
							<div class="load-animate"></div>
							<p>Loading...</p>
						</div>
					</div>
					<div class="app-children-room"></div>
				</div>
				<div id="my-page" class="app-room app-room-show">
					
				</div>

			</section>
			
			<!-- 主菜单 -->
			<%- include('nav') %>
		</section>