		<section class="app-mod">
			<section class="app-inner">
				<!-- 主页空间 -->
				<div id="home-page" class="app-room"></div>
				<!-- 客户空间 -->
				<div id="search-page" class="app-room app-room-show">
				</div>
				<!-- 账款空间 -->
				<div id="my-page" class="app-room"></div>

			</section>
			
			<!-- 主菜单 -->
			<%- include('nav') %>
		</section>