<!-- 
	主菜单功能
	============================================
	详细方法请参考 Nav API
	
 -->
<nav class="app-menu">
	<div class="app-menu-nav nav-stats" dataid="home-page" data-url="iCenter/stats">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">统计</p>
	</div>
	<div class="app-menu-nav nav-client nav-active" dataid="search-page" data-url="iCenter/customer">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">客户</p>
	</div>
	<div class="app-menu-nav nav-money" dataid="my-page">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">账款</p>
	</div>
</nav>