<!-- 
	主菜单功能
	============================================
	详细方法请参考 Nav API
	
 -->			
			<nav class="app-menu">
				<div class="app-menu-nav app-home" dataid="home-page" data-url="store">
					<div class="nav-ico"><i></i></div>
					<p class="nav-name">商城</p>
				</div>
				<div class="app-menu-nav app-search" dataid="search-page">
					<div class="nav-ico"><i></i></div>
					<p class="nav-name">查询</p>
				</div>
				<div class="app-menu-nav app-i nav-active" dataid="my-page">
					<div class="nav-ico"><i></i></div>
					<p class="nav-name">我</p>
				</div>
			</nav>