<!-- 
	主菜单功能
	============================================
	详细方法请参考 Nav API
	
 -->
<nav class="app-menu">
	<div class="app-menu-nav nav-stats nav-active" dataid="home-page">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">提醒</p>
	</div>
	<div class="app-menu-nav nav-search" dataid="search-page" data-url="iCenter/search">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">搜索</p>
	</div>
	<div class="app-menu-nav nav-client" dataid="my-page" data-url="icenter/team">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">客户</p>
	</div>
	<div class="app-menu-nav nav-page" dataid="my-page" data-url="icenter/team">
		<div class="nav-ico"><i></i></div>
		<p class="nav-name">政策大表</p>
	</div>
</nav>