<section class="slideTxtArea-mod">
	<div class="slideTxtInner">
		<div class="slideTxtTitle-box">
			<h3></h3>
			<p></p>
		</div>
		<div class="slideTxtInt-box">
			<textarea name="" id=""></textarea>
		</div>
		<div class="slideTxtBtn-box">
			<button onclick="hideSlideTxt()">取消</button><button>确认</button>
		</div>
	</div>
</section>