<!-- 
	usr - 用户信息菜单
	=======================================
	@头像
	@姓名
	@其它
 -->
		<div class="nav-box-inner">
			<ul class="nav-ul-box usr-info-mod">
				<li class="nav-li-box" data-mod="iCenter/perSpace-mod" data-mod-t="个人信息" data-fun="">
					<div class="nav-li-ico usr-logo-box">
						<div class="usr-pic-mod">
							<img src="contents/img/people/usr001/usr01.png" alt="">
						</div>
					</div>
					<div class="nav-li-inner usr-base-info">
						<div>
							<h3>姓名</h3>
							<p>其它</p>
						</div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
			</ul>
		</div>