<section class="welcome-mod" data-move="true" data-rhelp="true" data-remove="true">
	<h1>Welcome</h1>
	<div class="wel-man-mod">
	
		<div class="people-pic" style="background-image: url('contents/img/people/usr001/p01.png');"></div>
		<div class="people-info">
			<h3 class="slideworld">欢迎</h3>
			<i class="slidebg"></i>
			<p class="slideworld">向右滑动解锁</p>
		</div>
	</div>
</section>