<%#
	公司型用户列表
	================================
	没有头像


%>

<ul class="hui-gp-inner">
<!-- 添加5个信息 -->
<% for(var i = 0; i < 5; i++) { %>
	<li>
		<!-- 个人信息 -->
		<div class="hui-gp-usr-info">
			<h2>姓名<%= i %></h2>
			<p>
				<span>服务类型</span>	
				<span>990人</span>	
			</p>
		</div>
		<div class="nav-more-ico">
			<i></i>
		</div>
	</li>
<% } %>
</ul>