			<ul class="nav-ul-box nav-clos-box">
				<li class="nav-li-box i-search-nav" data-mod="iCenter/query-mod" data-mod-t="[[inner]]">
					<div class="nav-li-ico"></div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>客户信息统计</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
				<li class="nav-li-box i-health-nav" data-mod="iCenter/health/health-mod" data-mod-t="[[inner]]">
					<div class="nav-li-ico"></div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>雇员信息统计</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
				<li class="nav-li-box i-welfare-nav">
					<div class="nav-li-ico"></div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>收信息统计</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
				<li class="nav-li-box i-points-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
					<div class="nav-li-ico"></div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>客户变动信息统计</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
				<li class="nav-li-box i-points-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
					<div class="nav-li-ico"></div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>雇员变动信息统计</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
			</ul>