<%#
	设置菜单
	------------------------------------------
	- data-mod : 子级内容调用地址;格式为  
	- data-mod-t : 新页面打开时，title标题  
	------------------------------------------
	author: zwl
	time: 2015-11-24
%>

<ul class="nav-ul-box nav-clos-box">
	<li class="nav-li-box i-search-nav" data-mod="ui/setico-mod" data-mod-t="[[inner]]">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>设置菜单图标</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
	<li class="nav-li-box i-health-nav" data-mod="iCenter/health/health-mod" data-mod-t="[[inner]]">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>信息展示示例</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
	<li class="nav-li-box i-search-nav" data-mod="UI/search-mod" data-mod-t="[[inner]]">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>搜索展示示例</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
	<li class="nav-li-box i-welfare-nav">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>收信息统计</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
	<li class="nav-li-box i-points-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>客户变动信息统计</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
	<li class="nav-li-box i-points-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
		<div class="nav-li-ico">
			<div class="nav-link-ico-box">
				<div class="nav-link-ico"></div>
			</div>
		</div>
		<div class="nav-li-inner">
			<div class="nav-link-name"><b>雇员变动信息统计</b></div>
			<div class="nav-more-ico">
				<i></i>
			</div>
		</div>
	</li>
</ul>