<%# 
	用户列表模板
	===========================================
	类型qq聊天的用户清单
	@author: zwl
	@time: 2015-11-20

%>

<% for(var g = 0; g < 3; g++) { %>
	<div class="hui-group-box">
		<!-- 分组名 -->
		<h1><b class="drop-down-mod"><i></i></b><span>分组名称 <%= g %></span></h1>
		<ul class="hui-gp-inner">
		<!-- 添加5个信息 -->
		<% for(var i = 0; i < 5; i++) { %>
			<li>
				<a href="#">
					<!-- 图片 -->
					<figure>
						<img src="contents/img/people/usr001/usr01.png" alt="默认头像" />
					</figure>
					<!-- 个人信息 -->
					<div class="hui-gp-usr-info">
						<h2>姓名<%= i %></h2>
						<p>其它说明</p>
					</div>
				</a>
			</li>
			<% } %>
		</ul>
	</div>

<% } %>