@charset 'utf-8';

body, ul, li, div {
	margin: 0;
	padding: 0;
}
.ios-time-box {
	font-size: 0;
	display: -webkit-box;
	height: 150px;
	overflow: hidden;
	border-color: #aaa;
	border-width: 2px 0;
	border-style: solid;
}
.ios-time-box > div {
	-webkit-box-flex: 1;
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	vertical-align: top;
	height: 100%;
	overflow: auto;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-overflow-scrolling: touch;
}