
<div class="label-box">
	<label class="hui-label">
		<input type="radio" name="search-type" checked="checked">
		<span>内容1</span>
	</label>
	<label class="hui-label">
		<input type="radio" name="search-type">
		<span>内容2</span>
	</label>
</div>
