@charset 'utf-8';
/* 
	时间选择样式
	-----------------------------------
	ektx <530675800@qq.com> 2016-1-1
 */

/* 时间选择功能样式 */
.select-time-box {
	padding: 8px 0
}
.select-time-box > div,
.select-time select {
	display: inline-block;
	font-size: 18px;
}
.select-time {
	float: right;
}
.select-time select {
	-webkit-appearance: none;
	direction: rtl;
	border: none;
	color: #09f;
	background-color: transparent;
}
.show-time-options {
	text-align: center;
	padding: 8px 0;
}
.hui-time-box {
	font-size: 18px;
	background: #fff;
}
.hui-time-inner {
	padding: 6px 0;
	height: 100%;
	margin-left: 12px;
	border-bottom: 1px solid #eee;
}
.hui-time-box > div {
	text-align: right;
	position: relative;
	z-index: 10;
}

.hui-time-inner input {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	/*width: 100%;*/
	height: 100%;
	z-index: 11;
    border: 0;
    font-size: 18px;
    text-align: right;
    outline: none;
}
.hui-time-inner input,
.time-display {
    color: #09f;
}

.time-pc-PF span {
	display: none;
}
.hui-time-box .time-pc-PF input {
	opacity: 1;
}