<%#
	BOSS 收入情况报表
	----------------------------------------
%>
<div class="app-inner-room">
	<!-- 查询功能 -->
	<ul id="revenue-search-init" class="nav-ul-box nav-clos-box">
		<li class="nav-li-box i-search-nav">
			<div class="nav-li-ico"></div>
			<div class="nav-li-inner">
				<div class="select-time-box">
					<div class="title">开始时间:</div>

					<div class="inner select-time" select-type="yy-mm" selDef-time="$$-1"></div>
				</div>
			</div>
		</li>
		<li class="nav-li-box i-search-nav">
			<div class="nav-li-ico"></div>
			<div class="nav-li-inner">
				<div class="select-time-box">
					<div class="title">结束时间:</div>
					<div class="inner select-time" select-type="yy-mm" select-delay="2Y3M"></div>
				</div>
			</div>
		</li>
		<li class="nav-li-box i-search-nav">
			<div class="nav-li-ico"></div>
			<div class="nav-li-inner">
				<div class="select-time-box">
					<div class="title">结束时间:</div>
					<div class="inner select-time" select-type="yy-mm"></div>
				</div>
			</div>
		</li>
	</ul>

	<button id="setTime" class="btn">生成时间</button>
	<button id="getTime" class="btn">得到时间</button>
	<button id="sortTime" class="btn">排序时间</button>
</div>

<div class="app-children-room"></div>

<script>
	document.getElementById('setTime').addEventListener('click', function() {
		// HUI 
		setSelectMod()
	})

	document.getElementById('getTime').addEventListener('click', function() {
		// HUI 
		getQuerySelectTime(0, false, function(time) {
			alert(time)
		})
	})

	document.getElementById('sortTime').addEventListener('click', function() {
		// HUI 
		getQuerySelectTime(0, true, function(time) {
			alert(time)
		})
	})
</script>
