<%#
	搜索模板 - 基础型
	==========================================
	@author: zwl
	@time: 2015-11-20
%>

<form class="hui-search-mod" action="">
	<div class="search-int-box">
		<input type="search" placeholder="搜索" />
		<input type="reset" value="清空" />
	</div>
</form>