<%#
	搜索模板 - 基础型
	==========================================
	@author: zwl
	@time: 2015-11-20
%>

<form class="hui-search-mod" action="">
	<div class="search-int-box">
		<input type="search" placeholder="搜索" />
		<input type="reset" value="清空" />
	</div>
	<div class="label-box">
		<label class="hui-label">
			<input type="radio" name="search-type" checked="checked">
			<span>客户查询</span>
		</label>
		<label class="hui-label">
			<input type="radio" name="search-type">
			<span>雇员查询</span>
		</label>
	</div>
</form>