<div class="app-inner-room has-nav-room">
	
	<section class="app-inner-box">

		<!-- 原码式 -->
		<div class="label-box">
			<label class="hui-label">
				<input type="radio" name="search-type" checked="checked">
				<span>客户查询</span>
			</label>
			<label class="hui-label">
				<input type="radio" name="search-type">
				<span>雇员查询</span>
			</label>
		</div>

		<!-- 内入式 -->
		<%- include('../parts/ui/label/labeljs',
		{'data': [
			{'name': '客户查询', 'checked': true},
			{'name': '雇员查询'},
			{'name': '其它'}
		], 
		'name': 'test'}) 
		%>

		<pre class="language-markup">&lt;!-- 这里是代码提示 --></pre>


	</section>

</div>
<div class="app-children-room"></div>

