<%#
	搜索页面示例
	----------------------------------------	


	-----------------------------------------
	author: zwl
	time: 2015-11-24
%>

<div class="app-inner-room has-nav-room">
	<div class="hui-group-mod">
		<%- include('../parts/ui/search/base')%>
	</div>

	<div class="hui-group-mod">
		<%- include('../parts/ui/search/base-style')%>
	</div>
</div>
<div class="app-children-room"></div>