<%#
%>
<div class="app-inner-room has-nav-room">
	<section class="app-inner-box">
		<div class="display-mod">
			<ul class="nav-ul-box nav-clos-box">
				<li class="nav-li-box i-set-nav">
					<div class="nav-li-ico">
						<div class="nav-link-ico-box">
							<div class="nav-link-ico"></div>
						</div>
					</div>
					<div class="nav-li-inner">
						<div class="nav-link-name"><b>带图标菜单</b></div>
						<div class="nav-more-ico">
							<i></i>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<pre class="language-markup">&lt;!-- 这里是代码提示 --></pre>
	</section>
</div>
<div class="app-children-room"></div>
