<%#
%>
<div class="app-inner-room has-nav-room">
	<section class="app-inner-box">
		<ul class="nav-ul-box nav-clos-box">
			<li class="nav-li-box i-set-nav" data-mod="ui/ul-nav-ico-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>带图标菜单</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
			<li class="nav-li-box i-health-nav" data-mod="iCenter/health/health-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>无图标菜单</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
			<li class="nav-li-box i-search-nav" data-mod="UI/search-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>搜索展示示例</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
			<li class="nav-li-box i-list-nav" data-mod="UI/ul-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>列表信息示例</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
			<li class="nav-li-box i-usr-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>客户变动信息统计</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
			<li class="nav-li-box i-usr-nav" data-mod="iCenter/points-mod" data-mod-t="[[inner]]">
				<div class="nav-li-ico">
					<div class="nav-link-ico-box">
						<div class="nav-link-ico"></div>
					</div>
				</div>
				<div class="nav-li-inner">
					<div class="nav-link-name"><b>雇员变动信息统计</b></div>
					<div class="nav-more-ico">
						<i></i>
					</div>
				</div>
			</li>
		</ul>
	</section>
</div>
<div class="app-children-room"></div>
