@charset 'utf-8';

.icon-list-mod p {
	font-size: 12px;
	line-height: 22px;
	color: #999;
	padding: 0 10px;
}
.icon-list-main {
	background-color: #fff;
	font-size: 0;
	padding: 2px;
}
.icon-list-icons li {
	width: 56px;
	height: 56px;
	display: inline-block;
}
.icon-list-icons li:hover {
	background-color: #eee;
}
.icon-list-icons i {
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
}

.app-inner-box {
	padding: 15px 0;
}