@charset "utf-8";


.welcome-mod {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: #333;
	z-index: 20;
	top: 0;
	left: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.welcome-mod h1 {
	width: 100px;
	height: 32px;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	line-height: 32px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin: -16px -50px;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: welcome 2s linear;
}
@-webkit-keyframes welcome {
	0% {
		opacity: 0;
	}
	50%, 90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.wel-man-mod {
	width: 100%;
	height: 100%;
	color: #fff;
	position: relative;
	-webkit-animation: fadeIn 4s linear;
}
@-webkit-keyframes fadeIn {
	0%, 50% {
		opacity: 0;
		-webkit-transform: translate3d(0,10px,0);
	}
	100% {
		opacity: 1;
	}
}
.people-info {
	position: absolute;
	bottom: 20px;
	left: 25px;
	z-index: 1000;
}
.people-info h3 {
	font-family: '楷体','宋体';
	font-size: 36px;
}
.people-info i {
	display: block;
	width: 200px;
	height: 2px;
	background-color: #fff;
	background-size: 433%;
}
.people-info p {
	line-height: 32px;
}
.people-pic {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.home-banner {
	height: 200px;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}

.title-mod {
	height: 34px;
	background-color: #eee;
	font-size: 16px;
	line-height: 34px;
	text-indent: 5px;
}
.title-mod h3 {
	font-weight: 400;
	color: #333;
}

.store-pro-mod {
	width: 100%;
	height: 150px;
}
.store-pro-mod .swiper-slide {
	width: auto;
}
.pro-box {
	width: 140px;
	height: 75px;
	border-radius: 3px;
	background-color: #f5f5f5;
	margin: 10px 0 10px 10px;
}
.pro-box:last-child {

}
.pro-box img {
	width: 100%;
}

/* nav */
.app-menu-nav i {
	background-image: url('../img/nav/ceonav.png');
}

.nav-stats i {
	background-position: 0 -75px;
}
.nav-stats.nav-active i {
	background-position: 0 0;
}
.nav-money i {
	background-position: -81px -75px;
}
.nav-money.nav-active i {
	background-position: -81px -1px;
}
.nav-client i {
	background-position: -156px -75px;
}
.nav-client.nav-active i {
	background-position: -156px -1px;
}
.nav-search i {
	background-position: -305px -77px;
}
.nav-search.nav-active i {
	background-position: -305px -3px;
}
.nav-page i {
	background-position: -383px -79px;
}
.nav-page.nav-active i {
	background-position: -383px -4px;
}

/* 注册认证模块 */
.register-mod {
	height: 100%;
	width: 100%;
}
.register-status-mod {
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	background-color: #09f;
}
.register-status-mod > p {
	margin-top: -18px;
}
.register-form {
	margin-bottom: 60px;
	background-color: #f5f5f5;
}
.int-box {
	width: 100%;
	margin-bottom: 3px;
}
.intbox {
	width: 100%;
	display: inline-block;
	background-color: #fff;
}
.intbox.half {
	width: 50%;
}
.int-box input {
	-webkit-appearance: none;
	width: 80%;
	width: -webkit-calc(100% - 45px);
	width: -moz-calc(100% - 45px);
	width: calc(100% - 45px);
	outline: none;
	border: none;
	/*line-height: 40px;*/
	color: #333;
	font-size: 18px;
	font-weight: 300;
	padding: 11px 0 11px 5px;
}

.error {
	font-size: 12px;
	color: #f00;
	padding: 0 5px;
	line-height: 22px;
	opacity: 0;
	height: 0;
}
.int-inner {
	width: 100%;
	background-color: #fff;
}

#getSecruityCode,
#getSecruityCode2 {
	float: right;
	width: 50%;
	height: 44px;
	border: none;
	outline: none;
	background-color: #fff;
	text-align: center;
	font-size: 18px;
	color: #09f;
	padding: 0;
}

.register-mod input.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 95%;
	margin: 20px auto 0;
}
.register-mod input.btn[disabled] {
	background-color: #ccc;
	color: #fff;
}

.register-status-mod > svg {
	display: block;
	margin: 0 auto;
}
@media only screen and (max-width: 414px) {
	.register-status-mod > svg {
		width: 175px;
		height: 175px;
	}
}
.circle-z {
	fill:none;
	stroke: #f5f5f5;
	stroke-width: 2;
	/*设置转角顶点样式为圆形*/
	stroke-linecap: round;
	stroke-miterlimit:20;
	stroke-dasharray: 563 563;
	stroke-dashoffset: 0;
	/*-webkit-animation: gorotate linear 2s;*/
	-webkit-transform-origin: center;
}
.circle-z.loading {
	stroke-dasharray: 0 563;
	-webkit-animation: loadingrotate linear 2s infinite;
}
@-webkit-keyframes loadingrotate {
	0% {
		stroke-dasharray:0 563;
	}
	50% {
		stroke-dasharry: 563 563;
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dasharray:563 563;
		stroke-dashoffset: -563;
	}
}
@-webkit-keyframes gorotate {
	0% {
		stroke-dasharray:0 563;
	}

	100% {
		stroke-dasharray:550 563;
	}
	
}
.circle-box {
	/*-webkit-animation: rotate360 linear 3s 1;*/
	-webkit-transform-origin: center;
}


#svg-right polyline,
#svg-err polyline {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-dasharray: 170 170;
	stroke-dashoffset: 0;
	opacity: 0;
}
#svg-err polyline:last-child {
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	-webkit-transform-origin: center;
	transform-origin: center;
}
#svg-right.show polyline,
#svg-err.show polyline {
	opacity: 1;
	-webkit-animation: showRight .4s ease;
	animation: showRight .4s ease;
}
@-webkit-keyframes showRight {
	from {
		stroke-dasharray: 0 170;
	}
	to {
		stroke-dasharray: 170 170;
	}
}

/* usr certent */
.usr-logo-box {
	display: inline-block;
	vertical-align: top;
}
.usr-pic-mod {
	width: 72px;
	height: 72px;
	border-radius: 100%;
	overflow: hidden;
	margin: 5px 10px;
	position: relative;
	z-index: 100;
}
.usr-pic-mod img {
	width: 100%;
	height: 100%;
}
.usr-base-info {
}

.take-pic-mod {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45%;
	background-color: rgba(0, 0,0,.4);
}
.take-pic-mod input {
	width: 100%;
	height: 100%;
	opacity: 0;
}
.take-pic-mod i {
	width: 32px;
	height: 22px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px -16px;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	background: url(../img/nav/navIco.png) no-repeat -134px -357px;
}

.usr-base-info h3 {
	width: 100%;
	line-height: 32px;
	font-size: 18px;
	padding-top: 12px;
}

/* 用户清单列表图标 */
.i-search-box .nav-link-ico {
	background-position: -30px -15px;
}
.i-health-nav .nav-link-ico {
	background-position: -30px -107px;
}
.i-welfare-nav .nav-link-ico {
	background-position: -30px -188px;
}
.i-points-nav .nav-link-ico {
	background-position: -30px -273px;
}
.i-shopCart-nav .nav-link-ico {
	background-position: -120px -16px;
}
.i-order-nav .nav-link-ico {
	background-position: -120px -107px;
}

.usr-center-mod {
	background-color: #eee;
}

/* 用户信息 ======================================*/
/*退出绑定*/
.esc-company-group .nav-link-ico {
	background-position: -119px -189px;
}
.esc-company-group .nav-link-name {
	text-align: center;
	color: #d61d2e;
}

.i-perSpace-inner .nav-link-name b {
	color: #999;
	padding-left: 10px;
	font-weight: 400;
	display: inline-block;
	width: 30%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.i-perSpace-inner .nav-link-name > div {
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 70%;
	width: -webkit-calc(70% - 10px);
	/*-webkit-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
	-webkit-box-pack: end;
	-moz-box-pack: end;
	box-pack: end;
}
.nav-qrcode-li-box .nav-more-ico {
	min-height: 48px;
	float: right;
}
.i-perSpace-inner .nav-link-name input {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	border: none;
	outline: none;
	font-size: 18px;
	line-height: 48px;
	text-align: right;
	text-overflow: ellipsis;
	background-color: transparent;
	-webkit-user-select:none;
}
.i-perSpace-inner .nav-link-name span {

}

.nav-address .line:first-child {
	color: #999;
}
.nav-address .line:last-child {
	font-size: 18px;
	line-height: 26px;
	padding: 0 10px 15px;
}

/*===========================================
	下拉输入功能
==========================================*/
.slideTxtArea-mod {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8000;
	background-color: rgba(0, 0, 0, 0);
	visibility: hidden;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
}
.slideTxtInner {
	width: 100%;
	height: auto;
	background-color: #fff;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.slideTxtInt-box {
	background-color: #eee;
	margin-bottom: 1px;
}
.slideTxtInt-box textarea{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 10px;
	min-height: 120px;
	font-size: 14px;
	background-color: #eee;
	box-sizing: border-box;
	border-radius: 0;
    -webkit-overflow-scrolling: touch;
}

.slideTxtBtn-box button {
	width: 50%;
	font-size: 16px;
	line-height: 32px;
	color: #69f;
	background-color: transparent;
	border: none;
	outline: none;
}
.slideTxtBtn-box button:hover {
	background-color: #eee;
	transition: background .3 ease;
}
.slideTxtBtn-box button:active {
	background-color: #ddd;
	transition: background .3 ease;
}

.slideTxtTitle-box {
	padding: 5px 10px;
}

/* ===================================
	二维码
===================================*/
.qrcode-mod img {
	display: block;
	margin: 0 auto;
}

/* ===================================
	查询模块
===================================*/
.usr-query-mod .nav-li-ico {
	width: 8px;
}

.query-wagesList-mod {
	height: 100%;
	overflow: hidden;
}
.wages-query-ways {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0,0,0,.07);
	z-index: 100;
}
.wages-query-ways p {
	font-size: 12px;
	color: #999;
	margin: 0 .8em;
	padding: 8px 0 2px;
	border-bottom: 1px solid #ccc;
}
.wages-query-ways .nav-li-ico {
	width: .8em;
}
.wages-query-ways select {
	-webkit-appearance: none;
	display: inline-block;
	direction: rtl;
	font-size: 18px;
	border: none;
	color: #09f;
	background-color: transparent;
}
.wages-query-ways .inner {
	text-align: right;
	padding-right: .4em;
}

/* 工资单 */
.wages-months-list,
.nav-retbar-box {
	height: 80px;
	width: 96%;
	margin: 6px 2%;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 3px 3px rgba(0,0,0,.17);
}
.wages-months-list:hover {
	background-color: #eee;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.wages-min-date {
	display: inline-block;
	width: 80px;
	height: 100%;
	background-color: #09f;
	overflow: hidden;
}
.wages-months-list:hover .wages-min-date {
	background-color: #0B7CC7;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.wages-min-date i {
	font-size: 12px;
	display: block;
	width: 100%;
	text-align: center;
	font-style: normal;
	color: #a1d0ff;
}
.wages-min-date i:first-child {
	font-size: 32px;
	margin: 12px 0 0;
	color: #fff;
}

.wages-list-box {
	overflow-x: hidden;
	overflow-y: auto;
	height: -webkit-calc(100% - 180px);
	height: -moz-calc(100% - 180px);
	height: calc(100% - 180px);
	margin-top: 124px;
}
.wages-month-list {
	display: inline-block;
	width: -webkit-calc(100% - 80px);
	width: -moz-calc(100% - 80px);
	width: calc(100% - 80px);
	vertical-align: top;
	padding: 0 7px;
	box-sizing: border-box;
	text-align: right;
}
.wages-month-list p {
	height: 40px;
	border-bottom: 3px double #ddd;
	color: #09f;
	font-size: 22px;
	line-height: 48px;
}
.wages-month-list i {
	font-style: normal;
	color: #ccc;
	line-height: 26px;
}
.wages-month-list:hover i {
	color: #09f;
}


/* 工资清单 */
.my-month-list header {
	color:  #a1d0ff;
	font-size: 14px;
	padding: 1em;
	background-color: #09f;
}
.my-month-list header h3 {
	font-size: 26px;
	font-weight: 400;
	color: #fff;
}
.my-month-list .inner {
	color: #09f;
}
.my-month-list .inner.lose {
	color: #c30;
}
.my-month-list .nav-li-box:last-child {
	max-height: 70px;
	overflow: hidden;
}
.my-month-list .nav-li-box:last-child * {
	line-height: 100px;
}
.my-month-list .nav-li-box:last-child .inner {
	font-size: 36px;
}

.my-month-list .nav-ul-box {
	border-bottom: 3px double #ccc;
}

.my-month-help-info {
	margin: 8px 0 80px;

}
.my-month-help-info a {
	display: block;
	color: #09f;
	font-size: 14px;
	line-height: 22px;
	text-indent: .8em;
}


/* 社保体验 */
.nav-retbar-name {
	background-color: #09f;
}
.nav-retbar-name p {
	color: #09f;
	font-size: 1.4em;
	padding: 12px 10px 5px;
	background-color: #fff;
}
.nav-retbar-name b {
	display: block;
	font-size: 1em;
	color: #D0E9F9;
	margin: 5px 12px;
}

/* ===============================
	我的体检
================================*/
#hospital-address {
	height: 160px;
	width: 100%;
}
.hospital-address-box {
	margin-bottom: 70px;
}

.hospital-address-box h3 {
	font-size: 20px;
	color: #09f;
	font-weight: 400;
	padding: 1em .8em;
	background-color: #fff;
}
.hospital-address-box .line {
	padding: 0;
}
.hospital-address-box .line:last-child {
	padding: 0 0 16px;
}

/* ===============================
	积分充值
================================*/
#torecharge-mod .nav-li-ico {
	width: 8px;
}
#sureToRech {
	text-align: center;
	color: #09f;
}

/* ===============================
	购物车
================================*/
.shopcart-mod {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.shopcart-box {
	height: -webkit-calc(100% - 56px);
	height: -moz-calc(100% - 56px);
	height: calc(100% - 56px);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: -webkit-calc .3s linear;
	transition: calc .3s linear;
}

.shopcart-nav {
	width: 100%;
	height: 56px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 200;
	font-size: 16px;
	overflow: hidden;
	box-shadow: -2px 0 3px rgba(0,0,0,.13);
	-webkit-transition: -webkit-transform .3s linear;
	transition: transform .3s linear;
}

.shopcart-nav.sp-main-nav  {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.pay-btn {
	width: 120px;
	height: 100%;
	font-size: 16px;
	color: #fff;
	background-color: #f66;
	outline: none;
	border: 0;
	vertical-align: top;
	-webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
}
.pay-btn[disabled="disabled"] {
	background-color: #ddd;
	color: #333;
}

.toMainNav {
	display: inline-block;
	width: 43px;
	height: 52px;
	margin: 2px 0;
	overflow: hidden;
	border-right: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 200;
}
.toMainNav i {
	display: block;
	width: 20px;
	height: 1px;
	background-color: #666;
	position: absolute;
	z-index: 300;
	left: 50%;
	margin: 0 -10px;
	top: 50%;
	-webkit-will-change: -webkit-transform;
	will-change: transform;
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity .3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition: transform .3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity .3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.toMainNav i:first-child {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}
.toMainNav i:last-child {
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
}
.toMainNav.close i:nth-child(2) {
	opacity: 0;
	-webkit-transform: translateX(-6px);
}
.toMainNav.close i:first-child {
	-webkit-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}
.toMainNav.close i:last-child {
	-webkit-transform: rotateZ(-135deg);
	transform: rotateZ(-135deg);
}

.pay-price-mod {
	display: inline-block;
	width: -webkit-calc(100% - 173px);
	width: -moz-calc(100% - 173px);
	width: calc(100% - 173px);
    vertical-align: top;
    line-height: 56px;
    padding: 0 5px;
}

/*
	我的商品
*/
.my-shops-mod {

}

.my-shop-box {
	width: 100%;
	margin: 8px 0 0;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	opacity: 1;
	-webkit-transition: margin .6s ease, -webkit-transform .6s ease, height .6s ease, opacity .6s ease;
	transition: margin .6s ease, transform .6s ease, height .6s ease, opacity .6s ease;
}
.my-shop-box.hide {
	opacity: 0;
	-webkit-transform: translate3d(-10%, 0, 0);
	-moz-transform: translate3d(-10%, 0, 0);
	transform: translate3d(-10%, 0, 0);
}
.my-shop-box:nth-of-type(1) {
	margin: 0;
}
.my-shop-box figure {
	display: inline-block;
	width: 72px;
	height: 72px;
	margin: 5px;
	background-color: #eee;
}
.my-shop-box figure img {
	width: 100%;
}

.my-shop-info {
	float: right;
	width: -webkit-calc(100% - 82px);
	width: -moz-calc(100% - 82px);
	width: calc(100% - 82px);
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
}
.my-shop-baseIf {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.my-shop-baseIf h3 {
	font-size: 14px;
	line-height: 24px;
	padding: 5px 0;
	height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.my-shop-baseIf p {
	font-size: 12px;
	white-space: nowrap;
}
.my-shop-check {

}
.my-shop-check i {
	display: block;
	width: 18px;
	height: 18px;
	box-shadow: inset 0 0 0 2px #BFBFBF;
	border-radius: 100%;
	margin: 0 5px;
	will-change: box-shadow;
	-webkit-transition: box-shadow .3s ease;
	transition: box-shadow .3s ease;
	overflow: hidden;
	background-color: #fff;
}
.my-shop-check.checked i {
	box-shadow: inset 0 0 0 9px #f66;
}
.my-shop-check i:after {
	display: block;
	content: '';
	width: 8px;
	height: 3px;
	border: 2px solid #fff;
	border-top: 0;
	border-right: 0;
	margin: 5px 4px;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.goods-size {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ccc;
	font-size: 56px;
	font-weight: 100;
}

/* 收货人信息 */
.shopCart-contactu-box {
	margin-bottom: 0;
}
.shopCart-contactu p {
	line-height: 24px;
	font-size: 14px;
}
.shopCart-contactu b {
	display: inline-block;
	width: 56px;
	color: #999;
	text-align: right;
	padding: 0 5px 0;
}
.shopCart-contactu span {
	display: inline-block;
	width: -webkit-calc(100% - 70px);
	width: -moz-calc(100% - 70px);
	width: calc(100% - 70px);
	vertical-align: top;
}
.shopCart-contactu span a {
	color: #000;
	text-decoration: none;
}

.pay-check-box {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: center;
}

.my-points {
	color: #f66;
	font-weight: bold;
	padding: 0 6px;
}

/* 支付成功 */
.pay-result-ico-mod {
	width: 100%;
	text-align: center;
	padding: 16px 0;
	background-color: #fff;
}
.pay-circle,#pay-right {
	fill:none;
	stroke: #34ad37;
	stroke-width: 2;
	/*设置转角顶点样式为圆形*/
	stroke-linecap: round;
	stroke-miterlimit:20;
}


/*订单列表*/
.my-orders-list .nav-ul-box {
	background-color: transparent;
}
.my-orders-list .nav-ul-box > li {
	margin-bottom: 2px;
	background-color: #fff;
}
.my-orders-list .nav-link-name {
	border: none;
	margin: 10px 0;
}


/* 封面 */
.chooseImg-box {
	margin: 5% 20%;
	text-align: center;
	height: 320px;
	background-size: cover;
	-webkit-user-select: none;
}






.search-inner-mod {
	background-color: #fff;
}






