<!-- 产品推荐 -->
<div class="app-pro-rec">
	<div class="title-mod">
		<h3>商城福利</h3>
	</div>
	<div class="pro-mod">
		<div class="swiper-container store-pro-mod">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="pro-box">
						<img src="contents/img/store/cake.png" alt="">
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div style="height: 1200px; background-color: #f90"></div>